.container {
	max-width: 1100px;
	margin: 0 auto;
	position: relative;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
}
.wrapper {
	display: flex;
	justify-content: space-between;
}

body {
	background: #000;
}

* {
	text-decoration: none;
}
