.update {
	&__top {
		padding-top: 30px;
		&_image {
			position: relative;
			&_file {
				text-align: center;
				&_image {
					width: 100%;
					height: 200px;
				}
				&_inp {
					display: none;
				}
				label {
					color: #fff;
					display: block;
					margin: 0 auto;
					cursor: pointer;
					font-size: 25px;
					position: absolute;
					top: 40%;
					left: 47%;
				}
			}
		}
	}
	&__main {
		margin-top: 10px;
		&_image {
			position: relative;
			display: inline-block;
			img {
				width: 130px;
				height: 130px;
				border-radius: 100px;
			}
			&_file {
				position: absolute;
				top: 35%;
				left: 40%;
				&_inp {
					display: none;
				}
				label {
					color: #fff;
					font-size: 25px;
				}
			}
		}
	}
	&__form {
		&_inp {
			width: 99%;
			height: 40px;
			background: none;
			outline: none;
			border: none;
			border: 0.5px solid gray;
			margin-top: 20px;
			padding-left: 10px;
			border-radius: 3px;
			color: #fff;
		}
		textarea {
			width: 99%;
			height: 100px;
			background: none;
			outline: none;
			border: none;
			border: 0.5px solid gray;
			margin-top: 20px;
			padding-top: 10px;
			padding-left: 10px;
			border-radius: 3px;
			color: #fff;
			resize: none;
		}
		&_use {
			position: absolute;
			top: 0;
		}
		&_items {
			display: flex;
			justify-content: space-between;
			padding-top: 10px;
			&_item {
				display: flex;
				margin: 0 195px;
				&:first-child {
					margin-left: 0;
				}
				&:last-child {
					margin-right: 0;
				}
				&_image {
					color: #fff;
					font-size: 25px;
					cursor: pointer;
				}
				&_text {
					font-size: 20px;
					color: #fff;
					margin-left: 10px;
				}
				button {
					width: 90px;
					height: 40px;
					background: #fff;
					border: none;
					border-radius: 10px;
					font-weight: 600;
				}
			}
		}
	}
}
